# Importing Libraries

In [1]:
import sqlite3
import csv

# Connecting to Database

In [2]:
# Connect to SQLite database
conn = sqlite3.connect('SocialMedia.db')
cur = conn.cursor()

SOCIAL MEDIA USERS

In [3]:
# Create a table to store the Users data
cur.execute('''CREATE TABLE IF NOT EXISTS Users (
               user_id INT PRIMARY KEY,
               username VARCHAR(50),
               email VARCHAR(100),
               date_joined DATE
               )''')

In [4]:
# Import data from CSV into the table
with open('Social Media Users.csv', 'r') as file:
    # Skip the header row if it exists
    next(file)
    # Import data from CSV into SQLite
    cur.executemany('INSERT INTO Users VALUES (?, ?, ?, ?)', csv.reader(file))

In [23]:
# Execute a SELECT query to retrieve all rows from the table
cur.execute('SELECT * FROM Users')

# Fetch all rows from the result set
rows = cur.fetchall()

# Get column names and widths
columns = [description[0] for description in cur.description]
column_widths = [max(len(str(row[i])) for row in rows + [columns]) for i in range(len(columns))]

# Print table outline
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

# Print column names with padding
print("|", end="")
for i, column in enumerate(columns):
    print(f" {column:<{column_widths[i]}} |", end="")
print()

# Print separator line
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

# Print the rows
for row in rows:
    print("|", end="")
    for i, value in enumerate(row):
        print(f" {str(value):<{column_widths[i]}} |", end="")
    print()

# Print table outline
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

+---------+-----------+---------------------+-------------+
| user_id | username  | email               | date_joined |
+---------+-----------+---------------------+-------------+
| 1       | rahul62   | rahul@gmail.com     | 01-01-2023  |
| 2       | sanju26   | sanju@gmail.com     | 15-02-2023  |
| 3       | reebha59  | reebha@gmail.com    | 20-03-2023  |
| 4       | suman43   | suman@gmail.com     | 10-04-2023  |
| 5       | shubham23 | shubham@gmail.com   | 05-05-2023  |
| 6       | silpi1997 | silpi@gmail.com     | 12-06-2023  |
| 7       | vidushi09 | vidushi@gmail.com   | 18-07-2023  |
| 8       | manisha45 | manisha@gmail.com   | 23-08-2023  |
| 9       | chahak56  | chahak@gmail.com    | 30-09-2023  |
| 10      | preeti78  | preeti@gmail.com    | 05-10-2023  |
| 11      | kriti90   | kriti@gmail.com     | 11-11-2023  |
| 12      | aurav45   | aurav@gmail.com     | 14-12-2023  |
| 13      | kaushal23 | kaushal@gmail.com   | 20-01-2024  |
| 14      | gunjan45  | gunjan@gmail.com    | 25-02-2024  |
| 15      | saurav56  | saurav@gmail.com    | 30-03-2024  |
| 16      | sima12    | sima@gmail.com      | 05-04-2024  |
| 17      | mamta87   | mamta@gmail.com     | 10-05-2024  |
| 18      | ritu12    | ritu@gmail.com      | 15-06-2024  |
| 19      | kriti23   | kriti@gmail.com     | 20-07-2024  |
| 20      | rahul45   | rahul@gmail.com     | 25-08-2024  |
| 21      | kamini29  | kamini29@gmail.com  | 01-01-2023  |
| 22      | Rishi32   | Rsihi32@gmail.com   | 02-01-2023  |
| 23      | Arnav67   | Arnav67@gmail.com   | 03-01-2023  |
| 24      | Neha24    | Neha24@gmail.com    | 04-01-2023  |
| 25      | Aryan51   | Aryan51@gmail.com   | 05-01-2023  |
| 26      | Priya78   | Priya78@gmail.com   | 06-01-2023  |
| 27      | Rohan88   | Rohan88@gmail.com   | 07-01-2023  |
| 28      | Anushka55 | Anushka55@gmail.com | 08-01-2023  |
| 29      | Yash32    | Yash32@gmail.com    | 09-01-2023  |
| 30      | Riya29    | Riya29@gmail.com    | 10-01-2023  |
+---------+-----------+---------------------+-------------+

SOCIAL MEDIA POSTS

In [6]:
# Create a table to store the Posts data
cur.execute('''CREATE TABLE IF NOT EXISTS Posts (
               post_id INT PRIMARY KEY,
               user_id INT,
               content TEXT,
               post_date DATE,
               FOREIGN KEY (user_id) REFERENCES Users(user_id)
            )''')

In [8]:
# Import data from CSV into the table
with open('Social Media Posts.csv', 'r') as file:
    # Skip the header row if it exists
    next(file)
    # Import data from CSV into SQLite
    cur.executemany('INSERT INTO Posts VALUES (?, ?, ?, ?)', csv.reader(file))

In [22]:
# Execute a SELECT query to retrieve all rows from the table
cur.execute('SELECT * FROM Posts')

# Fetch all rows from the result set
rows = cur.fetchall()

# Get column names and widths
columns = [description[0] for description in cur.description]
column_widths = [max(len(str(row[i])) for row in rows + [columns]) for i in range(len(columns))]

# Print table outline
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

# Print column names with padding
print("|", end="")
for i, column in enumerate(columns):
    print(f" {column:<{column_widths[i]}} |", end="")
print()

# Print separator line
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

# Print the rows
for row in rows:
    print("|", end="")
    for i, value in enumerate(row):
        print(f" {str(value):<{column_widths[i]}} |", end="")
    print()

# Print table outline
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

+---------+---------+------------------------------------------+------------+
| post_id | user_id | content                                  | post_date  |
+---------+---------+------------------------------------------+------------+
| 1       | 1       | Excited to join this social network!     | 2023-01-02 |
| 2       | 2       | Just posted my first photo!              | 2023-02-16 |
| 3       | 3       | Feeling inspired today.                  | 2023-03-21 |
| 4       | 4       | Happy Friday everyone!                   | 2023-04-11 |
| 5       | 5       | Enjoying the weekend vibes.              | 2023-05-06 |
| 6       | 1       | Loving the weather today!                | 2023-06-15 |
| 7       | 2       | New recipe alert!                        | 2023-07-20 |
| 8       | 3       | Excited for my upcoming trip!            | 2023-08-25 |
| 9       | 4       | Movie night with friends!                | 2023-09-30 |
| 10      | 5       | Reflecting on the week.                  | 2023-10-05 |
| 11      | 1       | Ready for the holidays!                  | 2023-11-10 |
| 12      | 2       | Exploring new hobbies.                   | 2023-12-15 |
| 13      | 3       | Productivity tips for the week.          | 2024-01-20 |
| 14      | 4       | Fitness journey update.                  | 2024-02-25 |
| 15      | 5       | Weekend getaway adventures.              | 2024-03-30 |
| 16      | 1       | Trying out new restaurants.              | 2024-04-05 |
| 17      | 2       | Book recommendations.                    | 2024-05-10 |
| 18      | 3       | DIY home improvement projects.           | 2024-06-15 |
| 19      | 4       | Music festival memories.                 | 2024-07-20 |
| 20      | 5       | Reflecting on personal growth.           | 2024-08-25 |
| 21      | 1       | Excited to try a new recipe tonight!     | 30-09-2024 |
| 22      | 2       | Just finished a great workout session.   | 05-10-2024 |
| 23      | 3       | Enjoying a peaceful evening at home.     | 11-11-2024 |
| 24      | 4       | Celebrating a friend's birthday tonight! | 14-12-2024 |
| 25      | 5       | Looking forward to the weekend getaway!  | 20-01-2025 |
| 26      | 1       | Trying out a new coffee shop in town.    | 25-02-2025 |
| 27      | 2       | Relaxing with a good book this evening.  | 30-03-2025 |
| 28      | 3       | Excited to start a new DIY project!      | 05-04-2025 |
| 29      | 4       | Weekend road trip with friends ahead!    | 10-05-2025 |
| 30      | 5       | Reflecting on personal achievements.     | 15-06-2025 |
|         |         |                                          |            |
+---------+---------+------------------------------------------+------------+

SOCIAL MEDIA COMMENTS

In [10]:
# Create a table to store the Comments data
cur.execute('''CREATE TABLE IF NOT EXISTS Comments (
                comment_id INT PRIMARY KEY,
                post_id INT,
                user_id INT,
                comment_text TEXT,
                comment_date DATE,
                FOREIGN KEY (post_id) REFERENCES Posts(post_id),
                FOREIGN KEY (user_id) REFERENCES Users(user_id)
            )''')

In [11]:
# Import data from CSV into the table
with open('Social Media Comments.csv', 'r') as file:
    # Skip the header row if it exists
    next(file)
    # Import data from CSV into SQLite
    cur.executemany('INSERT INTO Comments VALUES (?, ?, ?, ?,?)', csv.reader(file))

In [21]:
# Execute a SELECT query to retrieve all rows from the table
cur.execute('SELECT * FROM Comments')

# Fetch all rows from the result set
rows = cur.fetchall()

# Get column names and widths
columns = [description[0] for description in cur.description]
column_widths = [max(len(str(row[i])) for row in rows + [columns]) for i in range(len(columns))]

# Print table outline
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

# Print column names with padding
print("|", end="")
for i, column in enumerate(columns):
    print(f" {column:<{column_widths[i]}} |", end="")
print()

# Print separator line
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

# Print the rows
for row in rows:
    print("|", end="")
    for i, value in enumerate(row):
        print(f" {str(value):<{column_widths[i]}} |", end="")
    print()

# Print table outline
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

+------------+---------+---------+----------------------------------------------+--------------+
| comment_id | post_id | user_id | comment_text                                 | comment_date |
+------------+---------+---------+----------------------------------------------+--------------+
| 1          | 1       | 2       | Welcome to the platform!                     | 2023-01-03   |
| 2          | 2       | 1       | Great photo!                                 | 2023-02-17   |
| 3          | 3       | 4       | Keep up the good work!                       | 2023-03-22   |
| 4          | 4       | 3       | Happy Friday to you too!                     | 2023-04-12   |
| 5          | 5       | 2       | Have a fantastic weekend!                    | 2023-05-07   |
| 6          | 6       | 3       | I love the weather too!                      | 2023-06-16   |
| 7          | 7       | 4       | Can't wait to try it!                        | 2023-07-21   |
| 8          | 8       | 5       | Where are you going?                         | 2023-08-26   |
| 9          | 9       | 1       | Sounds fun!                                  | 2023-10-01   |
| 10         | 10      | 2       | Reflecting is important.                     | 2023-10-06   |
| 11         | 11      | 3       | Holidays are the best!                       | 2023-11-11   |
| 12         | 12      | 4       | What hobbies?                                | 2023-12-16   |
| 13         | 13      | 5       | Share your tips!                             | 2024-01-21   |
| 14         | 14      | 1       | Keep going!                                  | 2024-02-26   |
| 15         | 15      | 2       | Tell us more!                                | 2024-03-31   |
| 16         | 16      | 3       | Any recommendations?                         | 2024-04-06   |
| 17         | 17      | 4       | I need book ideas.                           | 2024-05-11   |
| 18         | 18      | 5       | Show us your projects!                       | 2024-06-16   |
| 19         | 19      | 1       | Share your memories!                         | 2024-07-21   |
| 20         | 20      | 2       | Keep growing!                                | 2024-08-26   |
| 21         | 6       | 1       | Excited for the upcoming event!              | 30-09-2024   |
| 22         | 7       | 2       | Loving the new updates!                      | 05-10-2024   |
| 23         | 8       | 3       | Looking forward to the weekend!              | 10-11-2024   |
| 24         | 9       | 4       | What's everyone up to?                       | 15-12-2024   |
| 25         | 10      | 5       | Let's make the most of today!                | 20-01-2025   |
| 26         | 11      | 1       | New adventures await!                        | 25-02-2025   |
| 27         | 12      | 2       | Feeling inspired to create.                  | 30-03-2025   |
| 28         | 13      | 3       | Share your favorite quotes!                  | 05-04-2025   |
| 29         | 14      | 4       | Excited for the upcoming concert!            | 10-05-2025   |
| 30         | 15      | 5       | Taking time to appreciate the little things. | 15-06-2025   |
+------------+---------+---------+----------------------------------------------+--------------+

SOCIAL MEDIA LIKES

In [13]:
# Create a table to store the Likes data
cur.execute('''CREATE TABLE IF NOT EXISTS Likes (
                like_id INT PRIMARY KEY,
                post_id INT,
                user_id INT,
                like_date DATE,
                FOREIGN KEY (post_id) REFERENCES Posts(post_id),
                FOREIGN KEY (user_id) REFERENCES Users(user_id)
            )''')

In [14]:
# Import data from CSV into the table
with open('Social Media Likes.csv', 'r') as file:
    # Skip the header row if it exists
    next(file)
    # Import data from CSV into SQLite
    cur.executemany('INSERT INTO Likes VALUES (?, ?, ?, ?)', csv.reader(file))

In [20]:
# Execute a SELECT query to retrieve all rows from the table
cur.execute('SELECT * FROM Likes')

# Fetch all rows from the result set
rows = cur.fetchall()

# Get column names and widths
columns = [description[0] for description in cur.description]
column_widths = [max(len(str(row[i])) for row in rows + [columns]) for i in range(len(columns))]

# Print table outline
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

# Print column names with padding
print("|", end="")
for i, column in enumerate(columns):
    print(f" {column:<{column_widths[i]}} |", end="")
print()

# Print separator line
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

# Print the rows
for row in rows:
    print("|", end="")
    for i, value in enumerate(row):
        print(f" {str(value):<{column_widths[i]}} |", end="")
    print()

# Print table outline
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

+---------+---------+---------+------------+
| like_id | post_id | user_id | like_date  |
+---------+---------+---------+------------+
| 1       | 1       | 3       | 2023-01-04 |
| 2       | 2       | 4       | 2023-02-18 |
| 3       | 3       | 5       | 2023-03-23 |
| 4       | 4       | 1       | 2023-04-13 |
| 5       | 5       | 3       | 2023-05-08 |
| 6       | 6       | 2       | 2023-06-17 |
| 7       | 7       | 1       | 2023-07-22 |
| 8       | 8       | 5       | 2023-08-27 |
| 9       | 9       | 4       | 2023-09-16 |
| 10      | 10      | 3       | 2023-10-21 |
| 11      | 11      | 2       | 2023-11-26 |
| 12      | 12      | 1       | 2023-12-31 |
| 13      | 13      | 5       | 2024-01-11 |
| 14      | 14      | 4       | 2024-02-15 |
| 15      | 15      | 3       | 2024-03-20 |
| 16      | 16      | 2       | 2024-04-25 |
| 17      | 17      | 1       | 2024-05-30 |
| 18      | 18      | 5       | 2024-06-04 |
| 19      | 19      | 4       | 2024-07-09 |
| 20      | 20      | 3       | 2024-08-14 |
| 21      | 21      | 2       | 18-09-2024 |
| 22      | 22      | 1       | 23-10-2024 |
| 23      | 23      | 5       | 28-11-2024 |
| 24      | 24      | 4       | 31-12-2024 |
| 25      | 25      | 3       | 16-01-2025 |
| 26      | 26      | 2       | 21-02-2025 |
| 27      | 27      | 1       | 26-03-2025 |
| 28      | 28      | 5       | 30-04-2025 |
| 29      | 29      | 4       | 05-05-2025 |
| 30      | 30      | 3       | 10-06-2025 |
+---------+---------+---------+------------+

SOCIAL MEDIA FOLLOWERS

In [16]:
# Create a table to store the Followers data
cur.execute('''CREATE TABLE IF NOT EXISTS Followers (
                follower_id INT PRIMARY KEY,
                follower_user_id INT,
                following_user_id INT,
                follow_date DATE,
                FOREIGN KEY (follower_user_id) REFERENCES Users(user_id),
                FOREIGN KEY (following_user_id) REFERENCES Users(user_id)
            )''')

In [17]:
# Import data from CSV into the table
with open('Social Media Followers.csv', 'r') as file:
    # Skip the header row if it exists
    next(file)
    # Import data from CSV into SQLite
    cur.executemany('INSERT INTO Followers VALUES (?, ?, ?, ?)', csv.reader(file))

In [19]:
# Execute a SELECT query to retrieve all rows from the table
cur.execute('SELECT * FROM Followers')

# Fetch all rows from the result set
rows = cur.fetchall()

# Get column names and widths
columns = [description[0] for description in cur.description]
column_widths = [max(len(str(row[i])) for row in rows + [columns]) for i in range(len(columns))]

# Print table outline
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

# Print column names with padding
print("|", end="")
for i, column in enumerate(columns):
    print(f" {column:<{column_widths[i]}} |", end="")
print()

# Print separator line
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

# Print the rows
for row in rows:
    print("|", end="")
    for i, value in enumerate(row):
        print(f" {str(value):<{column_widths[i]}} |", end="")
    print()

# Print table outline
print("+" + "+".join("-" * (width + 2) for width in column_widths) + "+")

+-------------+------------------+-------------------+-------------+
| follower_id | follower_user_id | following_user_id | follow_date |
+-------------+------------------+-------------------+-------------+
| 1           | 2                | 1                 | 2023-01-05  |
| 2           | 3                | 2                 | 2023-02-19  |
| 3           | 4                | 3                 | 2023-03-24  |
| 4           | 5                | 4                 | 2023-04-14  |
| 5           | 1                | 5                 | 2023-05-09  |
| 6           | 1                | 3                 | 2023-06-01  |
| 7           | 4                | 2                 | 2023-07-08  |
| 8           | 5                | 3                 | 2023-08-12  |
| 9           | 3                | 4                 | 2023-09-15  |
| 10          | 2                | 4                 | 2023-10-20  |
| 11          | 1                | 2                 | 2023-11-25  |
| 12          | 3                | 5                 | 2023-12-30  |
| 13          | 5                | 1                 | 2024-01-10  |
| 14          | 4                | 1                 | 2024-02-14  |
| 15          | 2                | 5                 | 2024-03-19  |
| 16          | 1                | 4                 | 2024-04-24  |
| 17          | 3                | 1                 | 2024-05-29  |
| 18          | 5                | 2                 | 2024-06-03  |
| 19          | 4                | 5                 | 2024-07-08  |
| 20          | 2                | 3                 | 2024-08-13  |
| 21          | 2                | 1                 | 17-09-2024  |
| 22          | 3                | 4                 | 22-10-2024  |
| 23          | 4                | 2                 | 27-11-2024  |
| 24          | 5                | 3                 | 31-12-2024  |
| 25          | 1                | 4                 | 15-01-2025  |
| 26          | 3                | 2                 | 20-02-2025  |
| 27          | 4                | 1                 | 25-03-2025  |
| 28          | 5                | 2                 | 29-04-2025  |
| 29          | 1                | 3                 | 04-05-2025  |
| 30          | 2                | 5                 | 09-06-2025  |
+-------------+------------------+-------------------+-------------+

SQL QUERIES TO ANALYSE THE DATA FROM THE DATABASE AND ANSWERING A FEW QUESTIONS.

1. Retrieve the most recent post made by a user.

In [24]:
cur.execute('SELECT * FROM Posts WHERE user_id = 2 ORDER BY post_date DESC LIMIT 1')
rows = cur.fetchall()
for row in rows:
    print(row)

(27, 2, 'Relaxing with a good book this evening.', '30-03-2025')

2. Retrieve all posts made by a specific user.

In [32]:
cur.execute('SELECT * FROM Posts WHERE user_id = 4 ORDER BY post_date DESC LIMIT 1')
rows = cur.fetchall()
for row in rows:
    print(row)

(19, 4, 'Music festival memories.', '2024-07-20')

3. Count the total number of comments for a particular post.

In [34]:
cur.execute('SELECT COUNT(*) AS total_comments FROM Comments WHERE post_id = 4')
rows = cur.fetchall()
for row in rows:
    print(row)

(1,)

4. Find the total number of likes received by a specific post.

In [35]:
cur.execute('SELECT COUNT(*) AS total_likes FROM Likes WHERE post_id = 5')
rows = cur.fetchall()
for row in rows:
    print(row)

(1,)

In [36]:
cur.execute('SELECT COUNT(*) AS total_likes FROM Likes WHERE post_id = 2')
rows = cur.fetchall()
for row in rows:
    print(row)

(1,)

5. Get the usernames of users who have commented on a specific post.

In [37]:
cur.execute('''SELECT u.username FROM Users u
JOIN Comments c ON u.user_id = c.user_id
WHERE c.post_id =3''')
rows = cur.fetchall()
for row in rows:
    print(row)

('suman43',)

6. List all users who have not made any posts.

In [53]:
cur.execute('''SELECT * FROM Users WHERE user_id NOT IN (SELECT DISTINCT user_id FROM Posts);''')
rows = cur.fetchall()
for row in rows:
    print(row)

(6, 'silpi1997', 'silpi@gmail.com', '12-06-2023')
(7, 'vidushi09', 'vidushi@gmail.com', '18-07-2023')
(8, 'manisha45', 'manisha@gmail.com', '23-08-2023')
(9, 'chahak56', 'chahak@gmail.com', '30-09-2023')
(10, 'preeti78', 'preeti@gmail.com', '05-10-2023')
(11, 'kriti90', 'kriti@gmail.com', '11-11-2023')
(12, 'aurav45', 'aurav@gmail.com', '14-12-2023')
(13, 'kaushal23', 'kaushal@gmail.com', '20-01-2024')
(14, 'gunjan45', 'gunjan@gmail.com', '25-02-2024')
(15, 'saurav56', 'saurav@gmail.com', '30-03-2024')
(16, 'sima12', 'sima@gmail.com', '05-04-2024')
(17, 'mamta87', 'mamta@gmail.com', '10-05-2024')
(18, 'ritu12', 'ritu@gmail.com', '15-06-2024')
(19, 'kriti23', 'kriti@gmail.com', '20-07-2024')
(20, 'rahul45', 'rahul@gmail.com', '25-08-2024')
(21, 'kamini29', 'kamini29@gmail.com', '01-01-2023')
(22, 'Rishi32', 'Rsihi32@gmail.com', '02-01-2023')
(23, 'Arnav67', 'Arnav67@gmail.com', '03-01-2023')
(24, 'Neha24', 'Neha24@gmail.com', '04-01-2023')
(25, 'Aryan51', 'Aryan51@gmail.com', '05-01-2023')
(26, 'Priya78', 'Priya78@gmail.com', '06-01-2023')
(27, 'Rohan88', 'Rohan88@gmail.com', '07-01-2023')
(28, 'Anushka55', 'Anushka55@gmail.com', '08-01-2023')
(29, 'Yash32', 'Yash32@gmail.com', '09-01-2023')
(30, 'Riya29', 'Riya29@gmail.com', '10-01-2023')

7. Retrieve posts with more than 1 comment.

In [52]:
cur.execute('''SELECT * FROM Posts WHERE post_id IN (SELECT post_id FROM Comments GROUP BY post_id HAVING COUNT(*) > 1);''')
rows = cur.fetchall()
for row in rows:
    print(row)

(6, 1, 'Loving the weather today!', '2023-06-15')
(7, 2, 'New recipe alert!', '2023-07-20')
(8, 3, 'Excited for my upcoming trip!', '2023-08-25')
(9, 4, 'Movie night with friends!', '2023-09-30')
(10, 5, 'Reflecting on the week.', '2023-10-05')
(11, 1, 'Ready for the holidays!', '2023-11-10')
(12, 2, 'Exploring new hobbies.', '2023-12-15')
(13, 3, 'Productivity tips for the week.', '2024-01-20')
(14, 4, 'Fitness journey update.', '2024-02-25')
(15, 5, 'Weekend getaway adventures.', '2024-03-30')

8. Retrieve users who have liked all posts made by a specific user.

In [51]:
cur.execute('''SELECT u.username FROM Users u
                WHERE NOT EXISTS (
                SELECT * FROM Posts p
                WHERE NOT EXISTS (
                SELECT * FROM Likes l
                WHERE l.user_id = u.user_id AND l.post_id = p.post_id));
            ''')
rows = cur.fetchall()
for row in rows:
    print(row)

9. Find the user who has the highest number of followers.

In [49]:
cur.execute('''SELECT u.user_id, u.username, COUNT(f.follower_id) AS follower_count
                FROM Users u
                LEFT JOIN Followers f ON u.user_id = f.following_user_id
                GROUP BY u.user_id, u.username
                ORDER BY follower_count DESC
                LIMIT 1;
            ''')
rows = cur.fetchall()
for row in rows:
    print(row)

(2, 'sanju26', 7)

10.Find users who have not received any likes on their posts.

In [50]:
cur.execute('''SELECT u.username FROM Users u
LEFT JOIN Posts p ON u.user_id = p.user_id
LEFT JOIN Likes l ON p.post_id = l.post_id
WHERE l.like_id IS NULL;
            ''')
rows = cur.fetchall()
for row in rows:
    print(row)

('silpi1997',)
('vidushi09',)
('manisha45',)
('chahak56',)
('preeti78',)
('kriti90',)
('aurav45',)
('kaushal23',)
('gunjan45',)
('saurav56',)
('sima12',)
('mamta87',)
('ritu12',)
('kriti23',)
('rahul45',)
('kamini29',)
('Rishi32',)
('Arnav67',)
('Neha24',)
('Aryan51',)
('Priya78',)
('Rohan88',)
('Anushka55',)
('Yash32',)
('Riya29',)

11. List users who have commented on posts made by users they are not following.

In [54]:

cur.execute('''SELECT DISTINCT u.username
FROM Users u
JOIN Comments c ON u.user_id = c.user_id
JOIN Posts p ON c.post_id = p.post_id
LEFT JOIN Followers f ON u.user_id = f.following_user_id
WHERE f.follower_user_id IS NULL;
            ''')
rows = cur.fetchall()
for row in rows:
    print(row)

12. Retrieve the post with the highest number of likes along with number of likes.

In [55]:
cur.execute('''SELECT p.post_id, p.content AS post_content, COUNT(l.like_id) AS num_likes
                FROM Posts p
                LEFT JOIN Likes l ON p.post_id = l.post_id
                GROUP BY p.post_id, p.content
                ORDER BY num_likes DESC
                LIMIT 1;
            ''')
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Excited to join this social network!', 1)

13. Retrieve the usernames of users who have liked their own posts.

In [57]:

cur.execute('''SELECT u.username
                FROM Users u
                JOIN Posts p ON u.user_id = p.user_id
                JOIN Likes l ON p.post_id = l.post_id
                WHERE u.user_id = l.user_id;
            ''')
rows = cur.fetchall()
for row in rows:
    print(row)

('suman43',)
('suman43',)
('suman43',)
('suman43',)
('suman43',)